/.idea/
*.pyc
*.pdf
static/
*.DS_Store
db.sqlite3
/*/migrations/*.py
ddyxpm/settings.py
ddyxpm/urls.py
ddyxpm/manage.py
ddyxpm/mavencomms.py
ddyxpm/media/
/out_invoice.pdf
/*.json
*.db
/*.pid
/*.log
/*.sock
/timed_processes/settings.py
/ddyxpm/settings/*_local*
/ddyxpm/settings/__init__.py
!/ddyxpm/settings/EXAMPLE*
/ddyxpm/urls/*_local*
/ddyxpm/urls/__init__.py
/swagger.yaml
!/ddyxpm/urls/EXAMPLE*
.vscode/
/tmp/
#!/*/migrations/__init__.py*
